/*
* 
* @author Jamilton Damasceno
*/
html, body, #home{
    height: 100%;
    width: 100%;
}
body{
    background: url("../imagens/capa.png"), 
                url("../imagens/ruido.png"), 
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.navbar-transparent{
    background:rgba(0,0,0,0.6);
    padding: 1rem 0;
}

.navbar .navbar-nav li:nth-of-type(4){
    margin: 0 0;
}

.navbar .navbar-nav li .nav-link:hover{
    color:#9bf0e1!important;
}

.capa{
    text-align:center;
}

.carousel-item span{text-transform: initial;}

.btn-custom{
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: all 0.4s linear;
    padding: 0.6rem 1.2rem;
    margin-bottom: 1rem;
}

.btn-roxo{
    background-color: #7c26f8;
}

.btn-branco{
    border: 2px solid white;
}

.btn-branco:hover{
    color: black;
    background: white;
}

.btn-roxo:hover{
    color: white;
    background-color: #6207e3;
}

#servicos, #recursos{
    padding: 1.25rem 0;
}

#servicos h2, h3{
    color: #7c26f8;
}

#servicos .albuns{
    padding: 0.6rem 0;
}

#recursos h3{
    color: #9bf0e1!important;
}

#recursos .rotate{
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    padding-left: 5rem;
}

footer{
    position: relative;
    padding: 3rem 0 1.2rem 0;
    background-color: #000;
}

footer h4{
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}

footer .navbar-nav a{
    color: white;
    text-decoration: none;
}

footer .navbar-nav a:hover{
    color: #9bf0e1;
}

footer ul li{
    list-style: none;
}

footer ul li a img{
    margin: 0 0.2rem;
}

/*Tipografia*/
h1{
    font-weight:900;
    letter-spacing: -0.05rem;
    margin-bottom: 50px;
    color: white;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
}

h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
}

@media (max-width:575px){
    footer .container .row div{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 0.5rem 0;
    }
}

@media (min-width: 576px) { 
    .btn-custom{
        font-size: 1rem;
    }
    
    footer .container .row div{
        margin: 1rem 0!important;
    }
}

@media (min-width: 768px) { 
    h1{font-size: 3em;}

    .btn-custom{
        margin: 0.6rem 0.9rem;
    }

}

@media (min-width: 992px) { 
    h1{font-size: 4em;}
}

@media (min-width: 1200px) { 
    h1{font-size: 5em;}
}

@media (min-width: 1400px) { 
    h1{font-size: 6em;}
 }